body{
    display: flex;
    background-color: rgb(57, 69, 41);
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#board{
    background-color: white;
    box-shadow: 3px 3px 8.5px black;
    border: 4px;
    border-color: black;
}

#ColorPicker{
    height: 150px;
    width: 150px;
    border: 4px;
    border-color: black;
    box-shadow: 4px 4px 5px black;
}

#ColorPicker .color-option{
    height: 75px;
    width: 70px;
    border: 4px;
    border-color: black;
    box-shadow: 4px 4px 5px;
}

#Eraser{
    height: 100px;
    width: 90px;
    border: 4px;
    box-shadow: 7px 7px 7px;
    border-color: black;
}

#Eraser .eraser{
    height: 45px;
    width: 80px;
    border: 20px;
    box-shadow: 5px 5px 5px;
    border-color: black;
}

#Eraser .EraseAll{
    height: 45px;
    width: 80px;
    border: 20px;
    box-shadow: 5px 5px 5px;
    border-color: black;
}